{% extends "base.html.twig" %}

{% block body %}

    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('admin_dashboard') }}">
                <p class="subtitle is-4 has-text-primary">
                    <i class="fab fa-buffer"></i>
                    <b>Back Office</b>
                </p>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{path('admin_categorie')}}">
                    Catégories
                </a>
                <a class="navbar-item" href="{{path('admin_user')}}">
                    Utilisateurs
                </a>
                <a class="navbar-item" href="{{path('admin_annonce')}}">
                    Annonces
                </a>
                <a class="navbar-item" href="{{path('admin_note')}}">
                    Notes
                </a>
                <a class="navbar-item" href="{{path('admin_commentaire')}}">
                    Commentaires
                </a>
                <a class="navbar-item" href="{{path('admin_statistique')}}">
                    Statistiques
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a href="#" class="button is-primary is-small">
                            <i class="fas fa-replay"></i>
                            {{ app.user.pseudo }}
                        </a>
                        <a href="{{ path('app_logout') }}" class="button is-light is-small">
                            Déconnexion
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}

{% endblock %}
